---
const allPosts = await Astro.glob('../pages/post/*.md');
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTittle = "Mi blog de Astro";
import "../pages/styles/style.css";
---
<BaseLayout pageTitle={pageTittle}>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>

    <ul>
        {allPosts.map((er) => <BlogPost url={er.url} title={er.frontmatter.title}></BlogPost>)}
    </ul>

</BaseLayout>